@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=IBM+Plex+Serif:wght@100&display=swap');


body{
    display: flex;
    background-color: #7c97a8;
    flex-direction: column;
    font-family: 'Antic', sans-serif;
    color: #333;
    min-height: 100vh;
    margin: 0;
}
h1{
    color: aliceblue;
}

h2{
    color: black;
}
div {
    display: inline-flex;
    margin: 10px;
}
table {
    border-collapse: collapse;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
    background: none;
}
.customTable{
    border-collapse: collapse;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
    background: white;
    border: black;
    border-radius: 2%;
}
th{
    font-size: larger;
    padding: 12px;
    font-weight: bold;
}
td{
    padding: 4px;
}
.avertissement {
    color: #811d1d;
    font-size: large;
    margin: 2px;
}
fieldset{
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;

}
form .legend {
    font-size: medium;
}
.entry{
    border-style: solid;
    border-color: aliceblue;
    border-radius: 2px;
    background: aliceblue;
    margin-bottom: 3%;
    box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
.entry:focus, .entry:hover{
    border-style: solid;
    border-radius: 2px;
    background: aliceblue;
    border-bottom-color: #555;
    box-shadow: none;
    outline: none;
}
.form-submit{
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    border-style: solid;
    border-color: aliceblue;
    background: aliceblue;
    margin: auto;
}
.form-submit:hover{
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    border-style: solid;
    border-color: #555;
    background:#555;
    color: aliceblue;
    margin: auto;
    cursor: pointer;
}
.centeredContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    align-items: center;
    align-content: center;
}

/*-----Header/core/Footer-------------*/

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: fill;
}
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #333;
    font-family: 'IBM Plex Serif', serif;
    color: aliceblue;
    height: 18%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #333;
    font-family: 'Antic', serif;
    color: aliceblue;
    height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;


}
.exit{
    text-align: center;
    border: none;
    background: none;
    color: white;
    font-size: small;
    position: absolute;
    right: 2%;
    padding: 1%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.exit:hover{
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition-property: color, background-color;
    border-radius: 8px;
    border: none;
    background: red;
    color: aliceblue;
    transition-delay: 150ms;
}



/*-----Login-------------*/

.login {
    margin: auto;
}

/*-----Navbar-----------*/
.navbar {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 40px;
    width: 100%;
    z-index: 999;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav-item {
    position: relative;
}
.nav-item a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
.nav-item a:hover, .nav-item a:focus {
    color: #fff;
    background-color: #555;
    outline: none;
}

.nav-item:hover .dropdown-menu, .nav-item:focus-within .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    font-family: 'Antic', sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    padding: 10px 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.dropdown-menu li a {
    font-family: 'Antic', sans-serif;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-color: #555;
    outline: none;
}

.nav-item:hover,
.nav-item:focus-within {
    background-color: #555;
    color: #fff;
}

/*-----Home-------------*/

.dossier {
    font-size: large;
    font-weight: bold;
    padding: 12px 20px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 2px;
    background: aliceblue;
    width: 60%;
    margin: 3%;
    box-shadow: none;
}
.dossier:focus {
    font-size: large;
    font-weight: bold;
    padding: 12px 20px;
    border-style: solid;
    border-radius: 2px;
    background: aliceblue;
    border-bottom-color: #333;
    width: 60%;
    margin: 3%;
    box-shadow: none;
    outline: none;
}
.confirm {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: large;
    border: none;
    font-weight: bold;
    background: none;
    width: 10%;
    margin-bottom: 10%;
    box-shadow: none;
}
.confirm:hover, .confirm:focus {
    display: flex;
    text-align: center;
    font-size: large;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    background:#555;
    color: aliceblue;
    width: 10%;
    margin-bottom: 10%;
    box-shadow: none;
    cursor: pointer;
}

/*-----AutoComplete-------------*/

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 9999;
    padding: 0;
    margin-top: 1%;
    overflow: hidden;
    max-height: 20%;
    background-color: aliceblue;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
}
.ui-menu-item-wrapper{
    border: none;
    margin: 0;
    color: #333;
    width: 100%;
}
.ui-menu-item{
    border: none;
}
.ui-menu-item-wrapper.ui-state-active{
    border: none;
    margin: 0;
    background-color: #555;
    color: aliceblue;
    width: 100%;
}


